<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/ink-min.css">
        <link rel="stylesheet" href="/css/blog.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
    </head>

    <body>
        <div class="ink-grid">
            <div class="">
                <h1><a href="/">{{ site.name }}</a></h1>

                <p>Um blog sobre GNU/Linux, PHP, Python e outras coisas sobre programação, TI e nerdices.</p>

                <nav class="ink-navigation">
                    <ul class="menu horizontal blue flat">
                        <li><a class="" href="/">Home</a></li>
                        <li><a class="" href="/aulas-de-python.html">Aulas de Python</a></li>
                    </ul>
                </nav>
            </div>

            {{ content }}

            <div class="footer">
                <div class="contact">
                    <p>
                        Evaldo Junior<br />
                        Web Developer<br />
                        evaldojuniorbento at gmail
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/InFog">github.com/InFog</a><br />
                        <a href="https://twitter.com/InFog9">twitter.com/InFog9</a><br />
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>
