<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>{{ page.title }}</title>

        <meta name="title" content="{{ page.title }}" />
        <meta name="description" content="{{ site.description }}" />

        <meta name="viewport" content="width=device-width" />

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}'s feed"  href="/feed.xml" />

        <link rel="stylesheet" href="/css/ink-min.css">
        <link rel="stylesheet" href="/css/blog.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "ab04e593-33ed-43b0-b6ea-a46ad51cc7d0", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    </head>

    <body>
        <div class="ink-grid">
            <div class="">
                <h1><a href="/">{{ site.name }}</a></h1>

                <p>Um blog sobre GNU/Linux, PHP, Python e outras coisas sobre programação, TI e nerdices.</p>

                <nav class="ink-navigation">
                    <ul class="menu horizontal blue flat">
                        <li><a class="" href="/">Home</a></li>
                        <li><a class="" href="/livros.html">Livros</a></li>
                        <li><a class="" href="/aulas-de-python.html">Aulas de Python</a></li>
                        <li><a class="" href="/sobre-about.html">Sobre|About</a></li>
                    </ul>
                </nav>
            </div>

            <div class="column-group gutters">
                <div class="large-75 medium-70 small-100">
                    {{ content }}
                </div>
                <div class="large-25 medium-30 small-100">
                    <aside>
                        <h3>Acompanhe</h3>
                        <ul class="unstyled">
                            <li>
                                <a href="{{ site.url }}/feed.xml">
                                    <i class="icon-rss-sign"></i> RSS Feed
                                </a>
                            </li>
                        </ul>
                        <h3>Onde me encontrar</h3>
                        <ul class="unstyled">
                            <li>
                                <a href="https://github.com/InFog">
                                    <i class="icon-github-sign"></i> GitHub
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/InFog9">
                                    <i class="icon-twitter-sign"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="http://about.me/evaldojunior">
                                    <i class="icon-user"></i> About me
                                </a>
                            </li>
                        </ul>
                        <h3>Eu uso</h3>
                        <ul class="unstyled">
                            <li><a href="http://www.debian.org/">Debian</a></li>
                            <li><a href="http://php.net/">PHP</a></li>
                            <li><a href="http://www.vim.org">Vim</a></li>
                        </ul>
                    </aside>
                </div>
            </div>

            <div class="footer">
                <p>
                    &copy; Evaldo Junior Bento 2007 - 2014
                </p>
            </div>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47412319-1', 'evaldojunior.com.br');
            ga('send', 'pageview');
        </script>
    </body>
</html>
