---
layout: default
---
<article>
    <div class="post">
        <span class="post-date">{{ page.date | date_to_string }}</span>
        <h1 class="post-title">{{ page.title }}</h1>

        <img class="postmainimage" src="/assets/images/{{ page.mainimage }}">

        {{ content }}

        <!--
        <div class="post-tags">
            {% for tag in post.tags %}
                <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
        </div>
        -->

        <div class="author">
            <hr />
            <p><img src="http://evaldojunior.com/evaldojunior.jpg" /></p>
            <p>Evaldo Junior</p>
            <p>Desenvolvedor web, palestrante, escritor e usuário e contribuidor do Software Livre.</p>
        </div>
    </div>
</article>

<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'evaldojunior';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
